ServiciosInter/Servidor/Integraciones/CO.Controller.Servidor.Integraciones/Web References/ServicioWeb472/WS_472.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/WS_472" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/WS_472" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio Para 472 Transacciones Aliados</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/WS_472">
      <s:element name="ReadTransaction_472">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NitCanalAliado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroFactura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodigoOficinaAdmision" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaAdmisión" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoIdImpositor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdentificacionImpositor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrimerNombreImpositor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SegundoNombreImpositor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrimerApellidoImpositor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SegundoApellidoImpositor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadImpositor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionImpositor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelefonoImpositor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CelularImpositor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MontoOperación" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PorteComision" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodigoOficinaPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoIdDestinatario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdentificacionDestinatario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrimerNombreDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SegundoNombreDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrimerApellidoDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SegundoApellidoDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelefonoDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CelularDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaRecuperacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadTransaction_472Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadTransaction_472Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadTransaction_472SoapIn">
    <wsdl:part name="parameters" element="tns:ReadTransaction_472" />
  </wsdl:message>
  <wsdl:message name="ReadTransaction_472SoapOut">
    <wsdl:part name="parameters" element="tns:ReadTransaction_472Response" />
  </wsdl:message>
  <wsdl:portType name="WebService_WS_472Soap">
    <wsdl:operation name="ReadTransaction_472">
      <wsdl:input message="tns:ReadTransaction_472SoapIn" />
      <wsdl:output message="tns:ReadTransaction_472SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_WS_472Soap" type="tns:WebService_WS_472Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadTransaction_472">
      <soap:operation soapAction="http://localhost/WS_472/ReadTransaction_472" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_WS_472Soap12" type="tns:WebService_WS_472Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadTransaction_472">
      <soap12:operation soapAction="http://localhost/WS_472/ReadTransaction_472" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_WS_472">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio Para 472 Transacciones Aliados</wsdl:documentation>
    <wsdl:port name="WebService_WS_472Soap" binding="tns:WebService_WS_472Soap">
      <soap:address location="http://190.144.211.225/WS_472.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_WS_472Soap12" binding="tns:WebService_WS_472Soap12">
      <soap12:address location="http://190.144.211.225/WS_472.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>