ServiciosInter/Servidor/Integraciones/CO.Servidor.Integraciones/Service References/ServicioSeguridadYanbal/Seguridad.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://to.entity.ws.corp.yanbal.com" xmlns:tns="http://to.comun.ws.corp.yanbal.com" targetNamespace="http://to.entity.ws.corp.yanbal.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SolicitarTokenEnvType">
    <xsd:sequence>
      <xsd:element ref="keySeguridad" />
      <xsd:element ref="password" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SolicitarTokenRtaType">
    <xsd:sequence>
      <xsd:element ref="keySeguridad" />
      <xsd:element ref="idToken" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarTokenEnvType">
    <xsd:sequence>
      <xsd:element ref="keySeguridad" />
      <xsd:element ref="idToken" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="KeySeguridadType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="IdTokenType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="FechaHoraType">
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:element name="keySeguridad" type="KeySeguridadType" />
  <xsd:element name="idToken" type="IdTokenType" />
  <xsd:element name="password" type="xsd:string" />
</xsd:schema>